<h1> Alumno {{alumno['Cuenta']}}</h1>
<ul>
    <li>Nombre:
        {%for campo in ['Nombre','Primer Apellido','Segundo Apellido']%}
            {{alumno[campo]}}
        {%endfor%}</li>
    <li>Carrera : {{alumno['Carrera']}}</li>
    <li>Semestre : {{alumno['Semestre']}}</li>
    <li>Promedio : {{alumno['Promedio']}}</li>
    {% if alumno["Al Corriente"] %}
       <li>El Alumno esta al dia en sus pagos</li>
    {% else %}
      <li>El Alumno No esta al dia en sus pagos</li>
    {% endif %}
</ul>